<div class="flex justify-around p-1">
  <a
    routerLink="/"
    class="px-4 py-1 hover:bg-orange-300 ease-in-out transition duration-300 rounded-md"
    >Home</a
  >
  <a
    routerLink="/about"
    class="px-4 py-1 hover:bg-orange-300 ease-in-out transition duration-300 rounded-md"
    >About</a
  >
  <a
    routerLink="/menu"
    class="px-4 py-1 hover:bg-orange-300 ease-in-out transition duration-300 rounded-md"
    >Menu</a
  >
  <a
    routerLink="/reservation"
    class="px-4 py-1 hover:bg-orange-300 ease-in-out transition duration-300 rounded-md"
    >Reserve a table</a
  >
</div>



