<div class="flex justify-center">
  <form
    (ngSubmit)="onSubmit()"
    [formGroup]="reservationForm"
    class="grid grid-cols-1"
  >
    <mat-form-field>
      <mat-label>Choose a day</mat-label>
      <input
        matInput
        [matDatepicker]="picker"
        [matDatepickerFilter]="dateFilter"
        (dateChange)="valueChanged($event)"
        formControlName="date"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker [touchUi]="true"></mat-datepicker>
      @if (reservationForm.controls.date.hasError('required')) {
      <mat-error>Please select a date</mat-error> }
    </mat-form-field>

    <div class="flex gap-1">
      <mat-form-field>
        <mat-label>Choose time</mat-label>
        <mat-select [(value)]="selectedTime" formControlName="time">
          @for (time of times; track $index) {
          <mat-option [value]="time">{{ time }}</mat-option>
          }
        </mat-select>
        @if (reservationForm.controls.time.hasError('required')) {
        <mat-error>Please choose time</mat-error> }
      </mat-form-field>

      <mat-form-field>
        <mat-label>Guests count</mat-label>
        <mat-select
          [(value)]="selectedGuestCount"
          formControlName="guestsCount"
        >
          @for (guestCount of guestsList; track $index) {
          <mat-option [value]="guestCount">{{ guestCount }}</mat-option>
          }
        </mat-select>
        @if (reservationForm.controls.guestsCount.hasError('required')) {
        <mat-error>Please select guests count</mat-error> }
      </mat-form-field>
    </div>

    @if (reservationForm.controls.date.valid &&
    reservationForm.controls.time.valid &&
    reservationForm.controls.guestsCount.valid) {
    <mat-form-field>
      <mat-label>Full name</mat-label>
      <input matInput type="text" formControlName="name" />
      @if (reservationForm.controls.name.hasError('required')) {
      <mat-error>Please enter full name</mat-error> }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Phone number</mat-label>
      <input
        matInput
        type="text"
        formControlName="phone"
        (keypress)="validatePhone($event)"
        maxlength="12"
      />
      @if (reservationForm.controls.phone.hasError('minlength') ||
      reservationForm.controls.phone.hasError('maxlength')) {
      <mat-error>Please enter a valid phone number</mat-error> } @if
      (reservationForm.controls.phone.hasError('required')) {
      <mat-error>Please enter your phone number</mat-error> }
      <div>{{reservationForm.controls.phone.status}}</div>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Leave a comment</mat-label>
      <textarea matInput formControlName="comment"></textarea>
    </mat-form-field>

    }

    <button
      type="submit"
      [disabled]="!this.reservationForm.valid"
      class="bg-orange-200 p-1 rounded-sm"
    >
      Submit
    </button>
  </form>
</div>
